@page "/docentes"
@using Models
@using Services
@inject IDocenteService DocentesService

<MudText Typo="Typo.h4">Docentes</MudText>
@code {
    IEnumerable<Docente> docentes = new List<Docente>();
    protected override async Task OnInitializedAsync()
    {
        docentes = await DocentesService.GetAll();
    }
}

@if (docentes == null)
{
    <p>Docentes no encontrados</p>
}
else


{
    <MudTable Items="@docentes" Hover="true" Breakpoint="Breakpoint.Sm">
        <HeaderContent>
            <MudTh>Nombre:</MudTh>
            <MudTh>Apellido:</MudTh>
            <MudTh>CodigoDocente:</MudTh>
            <MudTh>Materia:</MudTh>
            <MudTh>Ciclo:</MudTh>
            <MudTh>Turno:</MudTh>
            <MudTh>Correo:</MudTh>
            <MudTh></MudTh>
        </HeaderContent>

        <RowTemplate Context="item">
            <MudTd>@item.Nombre</MudTd>
            <MudTd>@item.Apellido</MudTd>
            <MudTd>@item.CodigoDocente</MudTd>
            <MudTd>@item.materia.Nombre</MudTd>
            <MudTd>@item.ciclo.Nombre</MudTd>
            <MudTd>@item.turno.Nombre</MudTd>
            <MudTd>@item.Correo</MudTd>
            @*<MudTd><MudButton Link="@($"/horaxgrad/{item.Id}")"  Variant="Variant.Filled" StartIcon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Tertiary">Ver Horario</MudButton></MudTd>*@
            <MudTd><MudButton Link="@($"/horaxgrad/{item.Id}")" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.CalendarMonth" Color="Color.Tertiary">Ver Horario</MudButton></MudTd>
        </RowTemplate>
    </MudTable>

}
