@page "/horarios"
@using Models
@using Services
@inject IHorarioService HorarioService

<MudText Typo="Typo.h4">Horarios:</MudText>

@if (horarios == null)
{
    <p>Cargando...</p>
}
else
{
    <MudGrid>
        @foreach (var item in horarios)
        {
            <MudItem xs="12" sm="10" md="6" lg="4">
                <MudCard>
                    <MudCardHeader Class="blue lighten-1">
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@item.Dia</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body2">@item.grado.Nombre</MudText>
                    </MudCardContent>
                    <MudCardContent>
                        <MudText Typo="Typo.body2">@item.materia.Nombre</MudText>
                    </MudCardContent>
                    <MudCardContent>
                        <MudText Typo="Typo.body2">@item.docente.Nombre</MudText>
                    </MudCardContent>
                    <MudCardContent>
                        <MudText Typo="Typo.body2">@item.HorarioInicio</MudText>
                    </MudCardContent>
                    <MudCardContent>
                        <MudText Typo="Typo.body2">@item.HorarioSalida</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Link="@($"/detalles/{item.Id}")" Variant="Variant.Outlined" Color="Color.Success">Detalles</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}

@code {
    IEnumerable<Horario> horarios = new List<Horario>();

    protected override async Task OnInitializedAsync()
    {
        horarios = await HorarioService.GetAll();
    }
}

