@page "/horarios"
@using Models
@using Services
@inject IHorarioService HorarioService

<MudText Typo="Typo.h4">Horarios:</MudText>

@if (horarios == null)
{
    <p>Cargando...</p>
}
else
{
    <MudTable Items="@horarios" Hover="true" Breakpoint="Breakpoint.Sm">
        <HeaderContent>
            <MudTh>Día:</MudTh>
            <MudTh>Grado:</MudTh>
            <MudTh>Materia:</MudTh>
            <MudTh>Docente:</MudTh>
            <MudTh></MudTh>
            <MudTh>Hora de inicio:</MudTh>
            <MudTh>Hora de salida:</MudTh>
        </HeaderContent>

        <RowTemplate Context="item">
            <MudTd>@item.Dia</MudTd>
            <MudTd>@item.grado.Nombre</MudTd>
            <MudTd>@item.materia.Nombre</MudTd>
            <MudTd>@item.docente.Nombre</MudTd>
            <MudTd>@item.docente.Apellido</MudTd>
            <MudTd>@item.HorarioInicio</MudTd>
            <MudTd>@item.HorarioSalida</MudTd>
        </RowTemplate>
    </MudTable>

}

@code {
    IEnumerable<Horario> horarios = new List<Horario>();

    protected override async Task OnInitializedAsync()
    {
        horarios = await HorarioService.GetAll();
    }
}

